---
import type { HTMLAttributes } from 'astro/types';
import { stripLocale } from '../i18n';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const normalizedPathname = stripLocale(pathname);
const normalizedHref = stripLocale(href ?? '/');
const subpath = normalizedPathname.match(/[^\/]+/g);
const isActive = normalizedHref === normalizedPathname || normalizedHref === '/' + (subpath?.[0] || '');
---

<a href={href} class:list={[className, { active: isActive }]} aria-current={isActive ? 'page' : undefined} {...props}>
	<slot />
</a>
